{% extends "base.html" %}

{% block body %}

	<div class="row">
		<div class="col-md-12 heading">
			<h2>Organization Contributors</h2>
		</div>		
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="/users_by_skills"><button type="button" class="btn btn-info">Organization Contributors per skill</button></a>			
		</div>
		<div class="col-md-4">
			<a href="/slackreport"><button type="button" class="btn btn-info">Slack analysis of contributors</button></a>			
		</div>				
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			
		{% for message in messages['messages'] %}
			<h3> {{ message['user'] }} ---> {{ message['text'] }}</h3>
		{% endfor %}
		</div>
	</div>


  
{% endblock body %}